@media(max-width:850px){
  body:not(.keise-approved-layout) #mainView.hidden{display:none!important}
  body:not(.keise-approved-layout) #mainView:not(.hidden){display:block!important}
  body:not(.keise-approved-layout) #mainView:not(.hidden):not(.mobile-content-open)>.sidebar{display:flex!important}
  body:not(.keise-approved-layout) #mainView:not(.hidden):not(.mobile-content-open)>.content{display:none!important}
  body:not(.keise-approved-layout) #mainView.mobile-content-open>.sidebar{display:none!important}
  body:not(.keise-approved-layout) #mainView.mobile-content-open>.content{display:block!important}
  #loginView.hidden,#setupView.hidden{display:none!important}
}
